*{
    margin: 0%;
    padding: 0%;
}
body{
    --bgcolor:rgb(230, 208, 219);
    --themeColor:rgb(119, 4, 71);
    --placeholder:rgb(235, 235, 235);
    overflow-x: hidden;
    font-family: 'poppins';
}

nav{
    width:100vw;
    height:10vh;
    background-color: var(--themeColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    color: white;
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Dancing Script';
    margin-left: 20px;
}

.logo{
    width:7vh;
    height:7vh;
    border-radius: 1000px;
    border: 2px solid white;
    margin-right: 30px;
}

#signContainer{
    width:100vw;
    background:var(--bgcolor);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#signin{
    width:32vw;
    height:87vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 8vh;
    box-shadow: 1px 1px 8px rgb(187, 133, 175);
}


#signin input[type=text]{
    width:75%;
    height:6vh;
    border-radius: 6px;
    outline:none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--themeColor);
    font-size: large;
    color: rgb(48, 47, 47);
    padding:1px 5px;
    background-color: var(--placeholder);
    font-family: 'poppins';
}

#signin input[type=password]{
    width:75%;
    height:6vh;
    border-radius: 5px;
    outline:none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--themeColor);
    font-size: large;
    color: rgb(48, 47, 47);
    padding:1px 5px;
    background-color: var(--placeholder);
    font-family: 'poppins';
}

#signin input[type=file]{
    display: none;
}


#profile{
    margin: 0%;
    width:25vh;
    height:25vh;
    border-radius: 1000px;
    border-bottom: 4px solid var(--themeColor);
}

#signSubmit{
    width:20%;
    height:6vh;
    border-radius: 8px;
    border: none;
    background-color:var(--themeColor);
    font-size: large;
    color: rgb(214, 214, 214);
    font-weight: 300;
    cursor: pointer;
    font-family: 'poppins';
}
#signin a,p{
    font-size: larger;
    color:var(--themeColor);
    font-weight: 400;
}