*{
    margin: 0%;
    padding: 0%;
}
body{
    --bgcolor:linear-gradient(135deg,rgb(43, 0, 83),rgb(23, 1, 44),rgb(40, 0, 78),rgb(27, 0, 51));
    --themeColor:rgb(146, 59, 228);
    --placeholder:rgb(225, 194, 255);
    --themeBgColor:rgb(23, 1, 44);
}
#signContainer{
    width:100vw;
    background:var(--bgcolor);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#signin{
    width:32vw;
    height:87vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--themeBgColor);
    box-shadow: 0px 0px 8px 1px var(--themeColor);
    margin: 8vh;
}

#signLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30vw;
    margin-top: 5vh;
}


#signLogo img{
    width:10vw;
    height:10vw;
    border-radius: 1000px;
    border: 2.5px solid var(--themeColor);
}

#signin input[type=text]{
    width:75%;
    height:6vh;
    border-radius: 8px;
    outline:none;
    border: 2px solid var(--themeColor);
    font-size: large;
    color: rgb(48, 47, 47);
    padding:1px 5px;
    background-color: var(--placeholder);
}

#signin input[type=password]{
    width:75%;
    height:6vh;
    border-radius: 8px;
    outline:none;
    border: 2px solid var(--themeColor);
    font-size: large;
    color: rgb(48, 47, 47);
    padding:1px 5px;
    background-color: var(--placeholder);
}

#signin input[type=file]{
    display: none;
}
span{
    color: black;
    font-size: large;
    border-radius: 100px;
    background-color: white;
    margin: 0%;
}
#profile{
    margin: 0%;
    width:25vh;
    height:25vh;
    border-radius: 1000px;
    border: 2px solid var(--themeColor);
}

#signSubmit{
    width:20%;
    height:6vh;
    border-radius: 6px;
    border: none;
    background-color:var(--themeColor);
    font-size: large;
    color: black;
    font-weight: 300;
    cursor: pointer;
}
#signin a,p{
    font-size: larger;
    color:var(--themeColor);
    font-weight: 300;
}